@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

.p-dropdown.p-component .p-inputtext {
    padding: 7px 1rem !important;
    font-size: 0.85rem;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    font-size: 0.85rem;
    padding: 0.4rem 1rem
}